<div class="experience">
    <p class="experience__title">EXPERIENCE</p>
    <div class="experience__timeline">
        <div class="experience__timeline__line"></div>
        <div class="experience__timeline__items">
            <p class="experience__timeline__items__year">2024</p>
            <div class="experience__timeline__items__content">
                <p class="experience__timeline__items__content__title">Ssr Software Developer</p>
                <p class="experience__timeline__items__content__subtitle">PwC Argentina</p>
            </div>
            <p class="experience__timeline__items__year">2022</p>
            <div class="experience__timeline__items__content">
                <p class="experience__timeline__items__content__title">Jr Software Developer</p>
                <p class="experience__timeline__items__content__subtitle">PwC Argentina</p>
            </div>
            <p class="experience__timeline__items__year">2019</p>
        </div>
    </div>
</div>