<div class="experience">
    <p class="experience__title">EXPERIENCE</p>
    <div class="experience__timeline">
        <div class="experience__timeline__line"></div>
        <div class="experience__timeline__items">
            <p class="experience__timeline__items__year">2024</p>
            <div class="experience__timeline__items__content">
                <div class="experience__timeline__items__content__text">
                    <p class="experience__timeline__items__content__text__title">Ssr Software Developer</p>
                    <p class="experience__timeline__items__content__text__subtitle">PwC Argentina</p>
                </div>
                <button class="experience__timeline__items__content__button" (click)="openModal()">LEARN MORE →</button>
            </div>
            <p class="experience__timeline__items__year">2022</p>
            <div class="experience__timeline__items__content">
                <div class="experience__timeline__items__content__text">
                    <p class="experience__timeline__items__content__text__title">Jr Software Developer</p>
                    <p class="experience__timeline__items__content__text__subtitle">PwC Argentina</p>
                </div>
                <button class="experience__timeline__items__content__button" (click)="openModal()">LEARN MORE →</button>
            </div>
            <p class="experience__timeline__items__year">2019</p>

        </div>
    </div>
</div>
<app-learn-more [open]="open" (isOpen)="closeModal($event)"></app-learn-more>