.skills {
    height: 100%;
    font-family: "Quicksand", Arial, sans-serif;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 18px;
        letter-spacing: 5px;
        padding-left: 2rem;
        animation: fade-in 5s forwards;
        padding-top: 3rem;
        margin: 0;
    }

    &__content {
        padding-left: 5rem;
        padding-right: 5rem;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        display: flex;
        animation: fade-in-2 1s ease-in both;

        &__skills {
            height: 20%;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            display: flex;

            &__skill {
                margin: 0;
                padding: 1rem;
            }
        }
    }

}